@import 'tailwindcss';
@import 'tailwindcss-intersect';
@import 'flyonui/variants.css';

@plugin "flyonui";
@plugin "@iconify/tailwind4";
@plugin "tailwindcss-motion";

@source "../../node_modules/flyonui/flyonui.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

[data-theme='dark'] li:not(.menu-title, .menu-disabled) > :not(ul, .menu-title, .collapse, .accordion-content, .btn).menu-active {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}

body {
    color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
}

.trix-button-group--file-tools {
    display: none !important;
}



