@import 'tailwindcss';
@import 'tailwindcss-intersect';
@import 'flyonui/variants.css';

@plugin "flyonui" {
    themes: light --default, corporate;
}
@plugin "@iconify/tailwind4";
@plugin "tailwindcss-motion";

@source "../../node_modules/flyonui/flyonui.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}


@layer base {
    body {
        color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
    }

    ::-webkit-scrollbar {
        @apply hidden;
    }
}

[data-theme='dark'] li:not(.menu-title, .menu-disabled) > :not(ul, .menu-title, .collapse, .accordion-content, .btn).menu-active {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}

.filepond--root {
    .filepond--credits {
        @apply hidden;
    }

    .filepond--panel-root {
        @apply bg-transparent border-2 border-dashed border-gray-300;
    }

    .filepond--drop-label {
        @apply text-gray-400;
    }

    .filepond--drip-blob {
        @apply bg-primary;
    }

    .filepond--item {
        max-width: calc(33% - 1rem);
    }
}

.add-documentation {
    .filepond--root {
        .filepond--item {
            max-width: calc(50% - 1rem);
        }
    }
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}



